
body {
    /* تعيين نوع الخط المستخدم في الصفحة */
    font-family: Arial, sans-serif;
    /* تعيين لون الخلفية للصفحة */
    background-color: #f4f4f4;
    /* استخدام نظام Flexbox لتنسيق العناصر بشكل مركزي */
    display: flex;
    justify-content: center;
    align-items: center;
    /* تعيين ارتفاع الصفحة إلى 100% من ارتفاع النافذة */
    height: 100vh;
    /* إزالة المسافات الخارجية الافتراضية */
    margin: 0;
}

#quiz-container {
    /* تعيين خلفية شبه شفافة لحاوية الاختبار */
    background: rgba(231, 125, 4, 0.856);
    /* تعيين حواف دائرية للحاوية */
    border-radius: 15px;
    /* تعيين ظل للصندوق لإضافة تأثير ثلاثي الأبعاد خفيف */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    /* تعيين عرض الحاوية */
    width: 100%;
    /* تحديد أقصى عرض للحاوية */
    max-width: 800px;
    max-height: 500px;
    /* تعيين حشوة داخلية للحاوية */
    padding: 80px;
    /* تعيين تنسيق النص إلى الوسط */
    text-align: left;
}

button {
    /* تعيين خلفية الأزرار */
    background: #007BFF;
    /* تعيين لون النص للأزرار */
    color: white;
    /* إزالة حدود الأزرار */
    border: none;
    /* تعيين حشوة داخلية للأزرار */
    padding: 10px 20px;
    /* تعيين حواف دائرية للأزرار */
    border-radius: 5px;
    /* تعيين مؤشر الفأرة عند التمرير فوق الأزرار */
    cursor: pointer;
    /* إضافة هامش علوي للأزرار */
    margin-top: 20px;
    /* تعيين انتقال سلس عند تغيير لون الخلفية */
    transition: background 0.3s;
}

button:hover {
    /* تغيير لون خلفية الأزرار عند التمرير فوقها */
    background: #0056b3;
}

label {
    /* تعيين عرض الكتل لعناصر التسمية */
    display: block;
    /* إضافة هامش علوي وسفلي لعناصر التسمية */
    margin: 50px 0;
    /* تعيين حجم الخط لعناصر التسمية */
    font-size: 18px;
}

input[type="radio"] {
    /* إضافة هامش يمين لعناصر الإدخال من نوع الراديو */
    margin-right: 20px;
}

.button-container {
    /* استخدام Flexbox لتنسيق الأزرار داخل الحاوية */
    display: flex;
    /* إضافة مسافة بين الأزرار */
    gap: 20px;
    /* إضافة هامش علوي للحاوية */
    margin-top: 10px;
}

input[type="text"] {
    /* تعيين عرض عناصر الإدخال النصية */
    width: 60%;
    /* تعيين حشوة داخلية لعناصر الإدخال النصية */
    padding: 10px;
}
